body {
    font-family: roboto;
    padding:0px;
    margin: 0px;
}


.top-content {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 10px 200px;
    flex-grow: 1;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    flex-shrink: 0;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: auto;
}

.hero {
    /* this sets element to center vertically */
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero button, .content-3 button {
    flex-grow: 0;
    width: 120px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border-radius: 8px;
}

.hero-head {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 500px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
}
.hero-desc, .right-links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-desc {
    width: 400px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 16px;
}

li {
    flex-shrink: 0;
}

img {
    width: 400px;
    /* margin-left: auto; */
}

/* second section styles below */
/* container for complete section */
.content-1, .content-2 {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* Heading of section */
.content-1 .heading {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 50px;
}

/* info box in second section */
.info-box .box {
    height: 150px;
    width: 150px;
    border: 5px #3882f6 solid;
    border-radius: 15px;
    margin-bottom: 10px;
}
.info-box .subtext {
    width: 150px;
    text-align: center;
    color:rgb(77, 77, 77)
}

/* Style container for info boxes */
.info-flexcontainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* Third section styles below */
.content-2 {
    background-color: #E5E7EB;
    justify-content: center;
}

.content-2 .quote,.by {
    width: 800px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.content-2 .by{
    font-style: normal;
    font-weight:500 ;
    text-align: end;
    font-size: 30px;
}

/* Content 3 (fourth section) styles below */
.content-3 {
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* action box styles */
.content-3 .action-box {
    height: 150px;
    width: 1000px;
    border-radius: 8px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex-shrink: 0;
}
.content-3 .action-box .head {
    font-size: 22px;
    font-weight: 600;
    color: #f9faf8;
}
.content-3 .action-box .content {
    font-size: 19px;
    font-weight: 400;
    color: #E5E7EB;
}
.content-3 button {
    border: 2px solid white;
}

/* Footer styles below */
.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
}