body {
    font-family: roboto;
    padding:0px;
    margin: 0px;
}


.top-content {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 10px 200px;
    flex-grow: 1;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    flex-shrink: 0;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: auto;
}

.hero {
    /* this sets element to center vertically */
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero button {
    flex-grow: 0;
    width: 120px;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    border-radius: 8px;
}

.hero-head {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 500px;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
}
.hero-desc, .right-links {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-desc {
    width: 400px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 16px;
}

li {
    flex-shrink: 0;
}

img {
    width: 400px;
    /* margin-left: auto; */
}

/* second section styles below */
/* container for complete section */
.content-1 {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* Heading of section */
.content-1 .heading {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 50px;
}

/* info box in second section */
.info-box .box {
    height: 150px;
    width: 150px;
    border: 5px #3882f6 solid;
    border-radius: 15px;
    margin-bottom: 10px;
}
.info-box .subtext {
    width: 150px;
    text-align: center;
    color:rgb(77, 77, 77)
}